/*ALL ITEMS*/
img{
    image-rendering: pixelated;
}
body
{
    font-family: 'VT323', monospace;
    background-color: #007d7b;
    font-size: 18;
    margin: 0;
    padding: 0;
}
.desktopitems{
    width: 100px;
    height: 100px;
}
.desktopitem{
    width: 60px;
    size: 5%;
    padding: 10px;
    float: top;
    color: white;
}
/*
        TASK BAR
*/
#taskbarcontainer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color:#dedfde;
    height: 47px;
}
#taskbar{
    bottom: 0;
    width: 100%;
    position: absolute;
    border-top: 1px solid white;
    background-color:#bdbebd;
    height: 45px;
    padding:0px;
    margin:0px;
    z-index: 2;
}
.taskbartext{
    font-size: 28;
    text-align: center;
    padding-top:4px;
}
/*
        TASK BAR: START BUTTON
*/
#startbuttoncontainer{
    float: left;
    border-top:1px solid white;
    border-bottom:1px solid black;
    border-left: 1px solid white;
    border-right: 1px solid black;
    height: 36px;
    width: 102px;
    margin: 4px;
}

#startbutton{
    border-top: 1px solid #dedfde;
    border-left: 1px solid #dedfde;
    border-right: 1px solid #7d7b7d;
    border-bottom: 1px solid #7d7b7d;
    height:34px;
    width:100px;
}
/*
        TASK BAR: ACTIVITY WINDOW
*/
#activitywindow{
    float: right;
    text-align: right;
    background-color:#bdbebd;
    border-top: 1px solid #7d7b7d;
    border-left: 1px solid #7d7b7d;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 158px;
    height: 36px;
    margin: 4px;
}
/*
        START MENU
*/
#startmenucontainer{
    border-bottom:1px solid black;
    border-right:1px solid black;
    border-top:1px solid #7d7b7d;
    border-left:1px solid #7d7b7d;
    background-color: #bdbebd;
    position: absolute;
    bottom: 0px;
    width: 400px;
    height: 600px;
}
#startmenu{
    border-bottom:1px solid #7d7b7d;
    border-right:1px solid #7d7b7d;
    border-top:1px solid white;
    border-left:1px solid white;

    background-color: #bdbebd;
    position: absolute;
    bottom: 0px;
    width: 398px;
    height: 598px;

    z-index: 2;
}
#startmenubanner{
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    background-color: #7d7b7d;

    font-size: 50px;
    color: #bdbebd;

    height: 91%;
    width: 15%;
    margin-left: 5px;
    margin-top: 5px;
}
/*
        START MENU: ITEM
*/
.startmenuitemcontainer{
    position: absolute;
    top: 0px;
    margin-top: 5px;
    margin-left: 75px;
    width: 300px;
    height: 55px;
    padding: 10px;
}
.startmenuitemimage{
    float: left;
}
.startmenuimage{
    height: 100%;
}
.startmenuitemtext{
    margin-top: 15px;
    margin-left: 15px;
    font-size: 30px;
    float: left;
}
.startmenuitemarrow{
    font-size: 50px;
    float: right;
}
/*
    WINDOW
*/
#window{
    border-right: 1px solid #7d7b7d;
    border-top:1px solid white;
    border-left: 1px solid white;
    border-bottom:1px solid #7d7b7d;
    position: absolute;
    height: 300px;
    width: 400px;
    background-color: #bdbebd;
    outline: 1px solid grey;
    z-index: 1;
    resize: both;

  overflow: auto;
}
#windowheader {
    
    margin: 2px;
    height: 31px;
    cursor: move;
    z-index: 10;
    background-color: #00007b;
    color: #fff;
    font-size: 150%;
    padding-left: 5px;
  }
#windowcontrolls{
    background-color: #00007b;
    height: 36px;
    margin: 2px;
}
.controlsImage{
    float: right;
    width: 100px;
    padding-top: 2px;
    padding-right: 1px;
}

#windowbuttons{
    margin: 4px;
    height: 28px;
    float: right;
}
#windowicon{
    height: 26px;
    margin-top: 2px;
    margin-left: 8px;
    float: left;
}
.whitet{
    color: white;
}